PORT=5000
MONGO_URI=
JWT_SECRET=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_FAMILY=4
ALLOW_RESET_LINK_RESPONSE=false

FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5000

PAYFAST_MODE=sandbox
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
